{% comment %}
  Renders product popup modal.
  Accepts:
  - block: {Object} passing the block information.
  - product: {Object} product object.

  Usage:
  {% render 'product-popup-modal', block: block, product: product %}
{% endcomment %}

<modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
  <div
    role="dialog"
    aria-label="{{ block.settings.text }}"
    aria-modal="true"
    class="product-popup-modal__content"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ block.id }}"
      type="button"
      class="product-popup-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="product-popup-modal__content-info">
      <h1 class="h2">{{ block.settings.page.title }}</h1>
      {{ block.settings.page.content }}
    </div>
  </div>
</modal-dialog>
